@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Serif|Arvo|Lato');

.header {
    background-color: #2A3132;
    color: white;
    text-align: center;
    padding: 30px 0px;
}


h1 {
    font-family: 'Arvo', serif;
    font-size:30px;
}
h2 {
    font-family: 'Arvo', serif;
    font-size: 24px;
}
body {
    background-color: #90AFC5;
    color: #2A3132;
    padding: 10px 50px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.navbar {
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Navbar links */
.navbar a {
    float: left;
    /* display: block; */
    display: flex;
    justify-content: space-between;
    color: #336B87;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* width: 31% */
}

/* Links - change color on hover */
.navbar a:hover {
    background-color: #336B87;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.sidecolumn {
    float: left;
    padding-left: 10px;
    width: 30%;
}
.middlecolumn {
    float: left;
    padding-left: 10px;
    width: 35%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

li.category.left {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 20px;
    text-align: right;
}
li.detail {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    padding-bottom: 10px;
    padding-right: 20px;
    text-align: right;
}

.block {
    background-color: $f2f2f2;
    padding-left: 20%;
    padding-right: 20%;

}

.subheading {
    width: 90%;
}

.button {
    display: block;
    background-color: #763626;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}


.info {
    float: left;
    padding-left: 10%;
    margin-top: 20px;
}
.info:after {
    content: "";
    display: table;
    clear: both;
}
.logo {
    /* height: auto; */
    float: left;
    /* padding-left: 10px; */
}

.text {
    /* font-family: 'Lato', sans-serif;
    overflow: auto; */
    float: right;
    /* padding-left: 5%; */
}

.info.logo {
    width: 20%;
}
.info.text {
    width: 80%;
}

.contact {
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}
