@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Serif');

.header {
    background-color: #f2f2f2;
    color: #f1f1f1;
    text-align: center;
    padding: 30px 0px;
}

.header.h1 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 16px;
}

h1 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 16px;
}
h2 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
}
body {
    background-color: #f1f1f1;
    padding: 10px 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Navbar links */
.navbar a {
    float: left;
    /* display: block; */
    display: flex;
    justify-content: space-between;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* width: 31% */
}

/* Links - change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    padding: 20%, 20%;
}

.column.left {
    margin-left: 15%;
    width: 20%;
    text-align: right;
}
.column.right {
    margin-right: 15%;
    width: 20%;
}

.column.middle {
    width: 20%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.block {
    font-size: 14px;
    background-color: $f2f2f2;
    padding-left: 20%;
    padding-right: 20%;

}

.subheading {
    width: 90%;
}



.info {
    float: left;
    padding: 20px;
    margin-top: 20px;
}
.info.logo {
    width: 40%;
}
.info.text {
    font-family: 'IBM Plex Sans', sans-serif;
    width: 50%;
}

.contact {
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}
